

/* ========= VARIABLE CSS ========= */

:root {
    --header-height : 3rem;

    /* ==== COLORS ==== */
    /* Your Browser Theme */
    --hue-color : 250; /* green : 144 , blue : 230 , purple : 250 , pink : 340*/

    /* HSL Color Mode */
    --first-color : hsl(var(--hue-color), 78%, 58%);
    --fisrt-color-second : hsl(var(--hue-color) ,71% , 47%);
    --first-color-alt : hsl(var(--hue-color), 55% , 50%);
    --first-color-lighter : hsl(var(--hue-color),90% , 82%);

    --title-color : hsl(var(--hue-color) , 10% , 15%);
    --text-color : hsl(var(--hue-color) , 10%% , 40%);
    --mainText : hsl(var(--hue-color), 10% , 47%);
    --text-color-light : hsl(var(--hue-color), 10% ,65%);
    --input-color : hsl(var(--hue-color) ,70%, 88%);
    --body-color : hsl(var(--hue-color) , 66% , 99%);
    --container-color : #FFF;
    --scroll-bar-color : hsl(var(--hue-color) , 13% , 85%);
    --scroll-thumb-color : hsl(var(--hue-color) , 15% , 70%);
    --gradient-color : linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(84,104,181,1) 30%, rgba(0,212,255,1) 100%);


    /* ==== FONTS AND TYPOGRAPHY ==== */
    --gullible-font: 'Maven Pro', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --robotomono-font: 'Roboto Mono', monospace; 
    --bogat-font: 'Russon One', sans-serif;


    /* 1rem = 16px .5rem = 8px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem; 
    --normal-font-size: 14px;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font Weight */
    --font-medium: 500;
    --font-sem-bold: 600;
    --font-bold: 700;

    /* Margin Size */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;


    /* ======= Z-Index ======= */

    --z-tooltip:10;
    --z-fixed: 100;
    --z-modal :1000;

}

/*  FONT SIZE FOR LARGER DEVICE */
@media and (min-width: 968px) {
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem; 
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}


/* ======== VARIABLE COLOR FOR DARK THEME ======== */
body.dark-theme {
    /* HSL Color Theme */
    --first-color : hsl(var(--hue-color), 78%, 58%);
    --fisrt-color-second : hsl(var(--hue-color) ,71% , 47%);
    --first-color-alt : hsl(var(--hue-color), 55% , 50%);
    --first-color-lighter : hsl(var(--hue-color),90% , 82%);

    --title-color : hsl(var(--hue-color) , 10% , 15%);
    --text-color : hsl(var(--hue-color) , 10%% , 40%);
    --mainText : hsl(var(--hue-color), 10% , 47%);
    --text-color-light : hsl(var(--hue-color), 10% ,65%);
    --input-color : hsl(var(--hue-color) ,70%, 88%);
    --body-color : hsl(var(--hue-color) , 66% , 99%);
    --container-color : #FFF;
    --scroll-bar-color : hsl(var(--hue-color) , 13% , 85%);
    --scroll-thumb-color : hsl(var(--hue-color) , 15% , 70%);
}